* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.page1 {
    max-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}


.page1 img {
    height: 100%;
    width: 120%;
    position: relative;
    z-index: -2;
    /* object-position: center; */
}

.page1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.9) 100%);
    opacity: 2;
    z-index: 1;
}

.header {
    height: 5.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    position: absolute;
    z-index: 2;
}

.nav-bar {
    height: 90%;
    width: 77%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 63%;
    width: 15rem;
    background-image: url(./img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.opt-btn {
    height: 48%;
    width: 20%;
    display: flex;
    align-items: center;
}

#lang {
    border: 0.4px solid rgba(245, 245, 245, 0.49);
    height: 78%;
    width: 55%;
    background: transparent;
    border-radius: 5px;
    text-align: center;
    color: rgb(234, 234, 234);
    font-size: 1rem;
    padding: 0.3rem;
}

.signin-btn {
    padding: 0.5rem 0px;
    width: 4.5rem;
    background-color: rgb(229, 9, 20);
    border-radius: 6px;
    color: white;
    font-weight: 400;
    border: none;
    text-align: center;
    margin-left: 4%;
}

.container {
    width: 80%;
    max-height: 50%;
    margin: 6rem 4rem;
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    opacity: 2;
}

.container h1 {
    color: white;
    font-size: 3.8vw;
    text-align: center;
    font-weight: 800;
}

.container .para {
    color: white;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.membership p {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1.2rem;
    font-weight: 400;
}

.membership {
    margin-top: 1rem;
    width: 72%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.membership input[type=text] {
    padding: 1.3rem;
    width: 65%;
    display: inline-block;
    background-color: rgba(15, 14, 14, 0.683);
    border: 0.4px solid rgba(245, 245, 245, 0.49);
    border-radius: 7px;
}

.info {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}

.started-btn {
    padding: 0.8rem 0px;
    width: 33%;
    display: inline-block;
    background-color: rgb(229, 9, 20);
    border-radius: 6px;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    border: none;
    text-align: center;
}

::placeholder, footer p {
    font-size: 1rem;
    color: rgba(246, 245, 245, 0.873);
}

.page2{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 5.8% 0px;
    border-top: 8px solid rgb(35, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -5;
}
.page3{
height: 100%;
width: 100%;
background-color: rgb(0, 0, 0);
padding: 5.8% 0px;
border-top: 8px solid rgb(35, 35, 35);
display: flex;
justify-content: center;
align-items: center;
position: relative;
z-index: -5;
}

.page4{
height: 100%;
width: 100%;
background-color: rgb(0, 0, 0);
padding: 5.8% 0px;
border-top: 8px solid rgb(35, 35, 35);
display: flex;
justify-content: center;
align-items: center;
position: relative;
z-index: -5;
}

.page5{
height: 100%;
width: 100%;
background-color: rgb(0, 0, 0);
padding: 5.8% 0px;
border-top: 8px solid rgb(35, 35, 35);
display: flex;
justify-content: center;
align-items: center;
position: relative;
z-index: -5;
}

.free-ask-ques,footer {
height: 100%;
width: 100%;
background-color: rgb(0, 0, 0);
padding: 5.8% 0px;
border-top: 8px solid rgb(35, 35, 35);
display: flex;
justify-content: center;
align-items: center;
position: relative;
z-index: -5;
}

.free-ask-ques,footer {
    z-index: 1;
}

.pagebox {
    height: 100%;
    width: 78%;
    display: flex;
    align-items: center;
}

.box1{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(0, 0, 0);
    z-index: -2;
}
.box2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(0, 0, 0);
    z-index: -2;

}

.box1 img{
    height: 100%;
    width: 100%;
}

.box2 img{
    height: 100%;
    width: 100%;

}

.videobox {
    overflow: hidden;
}

.imgbox {
    position: relative;
    z-index: 99;
    overflow: hidden;
}

.video2 {
    position: absolute;
    top: 10%;
    left: 18%;
    z-index: -1;
}


.video {
    position: absolute;
    top: 0%;
    left: 12.8%;
    z-index: -1;
    height: 105%;
}

.box1 .download {
    height: 26%;
    width: 55%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 8%;
    border: 2.2px solid rgba(245, 245, 245, 0.49);
    border-radius: 8px;
    padding: 0.6rem 0px;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box1 .download img {
    height: 100%;
    width: 21%;
}

.link {
    padding: 0.4rem 0px;
}

.box1 .download .link a {
    text-decoration: none;
    color: rgba(85, 85, 255, 0.906);
}
.box1 .download h4,.box1 .download .icon i {
    color: whitesmoke;
    font-size: 100%;
}

.box2 .heading, .box1 .heading {
    width: 100%;
    height: 60%;
    color: whitesmoke;
    padding-left: 3%;
}

.box2 .heading h1, .box1 .heading h1 {
    font-size: 2.8rem;
    font-weight: 900;
}

.box2 .heading p, .box1 .heading p {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.free-ask-ques {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.free-ask-ques .question {
    height: 100%;
    width: 76%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.7%;
}

.free-ask-ques .question h1 {
    color: whitesmoke;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 1.2rem;
    text-align: center;
}

.free-ask-ques .question .questionbox {
    height: 13%;
    width: 100%;
    background-color: rgb(45, 45, 45);
    border-radius: 3px;
    padding: 1.5rem 1.2rem;
    transition: all 0.3s;
    display: flex;
    margin-bottom: 1%;
}

.free-ask-ques .question .questionbox:hover {
    background-color: rgb(65, 65, 65);
    cursor: pointer;
}

.question .questionbox summary,
.question .questionbox p {
    color: rgb(251, 251, 251);
    font-size: 1.6rem;
    font-weight: 400;
}

.question .questionbox p {
    padding: 1rem;
}

details>summary {
    list-style: none;
}

details[open] summary {
    transition: all linear 1s;
}

summary::after {
    content: ' +';
}

details[open] summary:after {
    content: " -";
}

.footerdiv {
    height: 100%;
    width: 80%;
    padding: 0px 2%;
    margin-left: 3%;
}

.footerlink {
    height: 100%;
    width: 100%;
}

.footerdiv p {
    margin-bottom: 2%;
}

.footerlang {
    margin: 1.2rem 0px;
}

.footerlink li {
    display: inline-block;
    width: 24%;
    margin-bottom: 1.2%;
}

.footerlink li a {
    font-size: 1rem;
    color: rgba(246, 245, 245, 0.873);
    padding-right: 1rem;
}
